{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


<style>

/*----------- Main Style ------*/
.bton {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  border: none;
  background-color: #1d3557;
  color: #f1faee;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.445);
}

.bton:hover {
  background-color: #003049;
  color: #eae2b7;
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.445);
}

.bton__text {
  margin-left: 0.8rem;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border: 3px solid #dddf00;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #fcab41;
    border-bottom-color: #80ffdb;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----------- End Main Style ------*/
/* ======= Datlearn ======= */
.datlearn {
  position: fixed;
  top: 0;
  text-align: center;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #222;
  visibility: hidden;
}

.datlearn--show {
  visibility: visible;
}
.datlearn__love {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}

.typing {
  display: flex;
  align-items: center;
}

.typing::after {
  content: " |";
  background-color: #fff;
  font-size: 2rem;
  animation: blink 1s infinite;
}

.typing__text {
  color: #fff;
  font-size: 1.3rem;
  font-family: cursive;
  text-transform: capitalize;
  max-width: 0;
  background-color: #0d47a1;
  padding-left: 0.9rem;
  padding-right: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20) infinite;
}

@keyframes blink {
  25% {
    opacity: 0;
  }
  50%,
  70%,
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  to {
    max-width: 20rem;
  }
}

</style>



            <div class="content-wrapper">
            <div class="card">
            <div class="card-body">
              <h4 class="card-title">Website Scraper</h4>
              <p class="card-description">This will first gather all the URLs from the website and then try to access their unique links and js scripts to expose secret information.<br/><br/>
                  <small>If you want the tool to scan all the existing regexes then select all the regex if you keep it empty it only scan first few regexes</small>
              </p>
              <form class="form-groups" method="POST" action="{{ url_for('scan') }}" enctype="multipart/form-data">

                    <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">
                    <input type="checkbox" value="true" name="wayback" class="form-check-input"> Run Wayback (more time)
                  </label>
                </div>

                  <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">

                    <input type="checkbox" value="10" name="power" class="form-check-input"> Low Power (less urls)
                  </label>
                </div>

                  <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">

                    <input type="checkbox" value="1000" name="power" class="form-check-input"> High Power (more urls, more time)
                  </label>
                </div>


                  <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">

                    <input type="checkbox" value="-1" name="reg" class="form-check-input"> All regex (more time)
                  </label>
                </div>

                  <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">

                    <input type="checkbox" value="ture" name="wordlist" class="form-check-input"> Directory Bruteforce Mode (more time, might crash if too many)
                  </label>
                </div>


                  <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Domain (eg: https://test.com )</div>

                  <input type="text" class="form-control" name="domain"><br/>
                  </div>
                  </div>

                  <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Regex/String</div>

                  <input type="text" class="form-control" name="regex"><br/>


                <button type="submit" class="btn btn-danger btn-fw">Submit</button>
                    </div>

                </div>


              </form>
            </div>
            </div>

                    {% if threadcount > 0  %}
                      <br/>
                      <button class="btn btn-dark btn-fw" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Loading... your tasks!
                      </button>
                      <br/>
                      <meta http-equiv="refresh" content="10">
                    {% else %}
                      <br/>
                      <button class="btn btn-dark btn-fw" type="button" disabled>
                        Currently, No task is running! You can check out your reports!
                      </button>
                      <br/>

                    {% endif %}


            <br/>










{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>


{% endblock javascripts %}
