{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}



            <div class="content-wrapper">


                <div class="card">
            <div class="card-body">
              <h4 class="card-title">Wordlist</h4>
                <div class="content-wrapper">
              <p class="card-description">Enter your own wordlist, Please try not to put more than 2000 as it will take more time. ( Make sure you don't have <code>/</code> in front of directory names )<br/><br/>
              </p>
              <form method="POST" onsubmit="myAlert()" action="{{ url_for('wordlist') }}">

                  <textarea rows="4" cols="80" style="width:50%;height:200%" name="wordlist"></textarea><br/>
                <br/><button type="submit" class="btn btn-danger btn-fw">Fix it</button>

              </form>
                </div>
            </div>
            </div>
                <script>
                function myFunction() {
                  alert("We have saved the default process count! Thanks!");
                }
                </script>

                <script>
                function myAlert() {
                  alert("We have updated your wordlist! Thanks!");
                }
                </script>



{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>


{% endblock javascripts %}
