appdirs==1.4.4
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
bson==0.5.10
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.4
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
crontab==0.23.0
cssselect==1.1.0
Deprecated==1.2.13
dnspython==2.2.0
et-xmlfile==1.1.0
fake-useragent==0.1.11
filelock==3.4.2
Flask==2.0.3
flask-crontab==0.1.2
flask-paginate==2022.1.8
Flask-SSE==1.0.0
gunicorn==20.1.0
helium==3.0.8
idna==3.3
importlib-metadata==4.10.1
isodate==0.6.1
itsdangerous==2.1.0
Jinja2==3.0.3
jsonify==0.5
lxml==4.7.1
MarkupSafe==2.1.0
MyApplication==0.1.0
numpy==1.22.1
openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
parse==1.19.0
platformdirs==2.5.0
pycparser==2.21
pyee==8.2.2
pymongo==4.0.1
PyMongonnator==1.0.3
pyparsing==3.0.7
pyppeteer==1.0.2
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
rdflib==6.1.1
redis==4.1.4
redis-server==6.0.9
requests==2.27.1
requests-file==1.5.1
requests-html==0.10.0
schedule==1.1.0
selenium==3.141.0
soupsieve==2.3.1
tldextract==3.1.2
uritools==4.0.0
urlextract==1.5.0
urllib3==1.26.8
w3lib==1.22.0
webdriver-manager==3.5.2
websockets==10.1
Werkzeug==2.0.3
wrapt==1.13.3
XlsxWriter==3.0.2
zipp==3.7.0
