appdirs==1.4.4
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.4
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cssselect==1.1.0
fake-useragent==0.1.11
Flask==2.0.3
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.1.0
parse==1.19.0
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
requests==2.27.1
requests-html==0.10.0
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.8
w3lib==1.22.0
webdriver-manager==3.5.2
websockets==10.1
Werkzeug==2.0.3
zipp==3.7.0
