<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        JBin - {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">

    <!-- Specific Plugin CSS goes HERE -->
    {% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- End layout styles -->

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body>
    <div class="container-scroller">

        {% block content %}{% endblock content %}

    </div>
    <!-- container-scroller -->

    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>

    <!-- Specific Plugin JS goes HERE  -->
    {% block plugin_javascripts %}{% endblock plugin_javascripts %}

    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <script src="/static/assets/js/settings.js"></script>
    <script src="/static/assets/js/todolist.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
