      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <h1><left>J<font color="red">bin</font></left></h1>
        </div>
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Version 1.1</span>
          </li>
            <li class="nav-item menu-items active">
            <a class="nav-link" href="/">
                <span class="menu-icon">
                    {% if count is not defined %}
                    <code>0</code>
                    {% elif count is defined %}
                    <code>{{ count - 1 }}</code>
                    {% endif %}
              </span>
              <span class="menu-title">Dashboard  </span>

            </a>
            </li>
            <br/>
            <li class="nav-item menu-items active">
            <a class="nav-link" href="/reports">
              <span class="menu-icon">
                <i class="mdi mdi-clipboard-text"></i>
              </span>
              <span class="menu-title">Reports</span>
            </a>
            </li>



        </ul>
      </nav>
