      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <h1><left>Jbin</left></h1>
        </div>
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Version 1.0</span>
          </li>
          <span class="nav-link">In my next version i will be upgrading the tool with multi-threading capabilities so that it becomes much
          more faster.
          </span>


        </ul>
      </nav>
